<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h3>#{msgs.heading}</h3>
            <p>
                <!-- The string in the bundle has a placeholder that will be
                     filled with the f:param value
                -->
                <h:outputFormat value="#{msgs.currentScore}">
                    <f:param value="#{quizBean.score}"/>
                </h:outputFormat>
            </p>
            <p>#{msgs.guessNext}</p>
            <p>#{quizBean.current.sequence}</p>
            <p>
                #{msgs.answer}
                <h:inputText value="#{quizBean.answer}"/>
            </p>
            <!-- Without a navigation rule this commandButton just reloads
                 the current page
            -->
            <p><h:commandButton value="#{msgs.next}"/></p>
        </h:form>
    </h:body>
</html>